.login-card{
    background-color: blanchedalmond ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-content{
    background-color: blueviolet;
    display:flex;
    flex-direction: row;
    align-items: center;
}