.imagen_carrito{
    margin-right: 2rem;
}
.nav_border{
    box-shadow: 0 4px 8px 0 green;
    margin-bottom: 2rem;
}
.nav_end{
    justify-self: flex-end;
}

.carrusel_precios{
    height: 30rem;
    margin: auto 2rem 2rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 12px 0 green;
}

.carrusel_precios img{
    height: 30rem;
    border-radius: 2px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper img{
    border-radius: 2rem;
    box-shadow: 0 4px 12px 0 green;
    margin-bottom: 2rem;
}